body {
    background-image: url('background.jpeg');
    background-size: cover;
    font-size: 20px;            /* 略微放大字体 */
}

.block {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);/* 毛玻璃：先设置半透明，然后让它模糊点 */
    border-radius: 10px;
    padding: 10px;
    transition: backdrop-filter 0.5s;
}

.block:hover {
    backdrop-filter: blur(50px);
}

/* 下面几个都是用来确定元素的位置的 */
.block.main {       /* 主页最上面那个框 */
    position: absolute;
    left: 15%;
    top: 1.5vh;
    width: 70%;
    height: 10vh;   /* 用 % 无效 */
    line-height: 50px;
}

.block.p1 {
    position: absolute;
    left: 15%;
    top: 15vh;
    width: 33%;
}

.block.p2 {
    position: absolute;
    right: 15%;
    top: 15vh;
    width: 33%;
}

a[href], [link], button {       /* 没有 href 的 a 视作 span 的代替 */
    cursor: pointer;            /* 所有链接采用 pointer 鼠标样式（手） */
}

a[href] {
    color: #369;                /* 解决强迫症 */
}

/* [line] {
    background-clip: text;                  把背景渐变甩到文字上
    -webkit-text-fill-color: transparent;   再把文字颜色搞没
} */ /* 似乎有问题：只显示背景，不知道有没有显示文字（理论上来说这时候文字要么没有要么就和背景颜色完全一样） */

#xf-info {
    position: absolute;
    padding: 10px;              /* padding 在 border 内，可以享受到背景颜色 */
    height: 20px;               /* height 控制背景的颜色；*/
    line-height: 20px;          /* line-height 则控制一行文本占用的行高 */
    border-radius: 6px;         /* 圆角效果 */
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px); /* 模糊效果 */
    transition: opacity 0.5s;   /* 当切换显示/不显示时，给它 0.5s 的动画时间 */
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    font-size: 50px;
}

table {                         /* 表格 */
    border-top: 1px solid gray; /* 让表格整体有左边框和上边框；其他的由每个 <td> 负责 */
    border-left: 1px solid gray;
}

table tr>* {                    /* <tr> 的子元素有 <td> 和 <th> */
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

input {                         /* 输入框 */
    font-size: 20px;            /* 和普通文本一样大 */
    border: 0px;                /* 没有边框 */
    background-image: blur(2px);/* 毛玻璃效果 */
}

button {
    border: 0px;
    border-radius: 5px;         /* 圆角 */
    padding: 10px;
    font-size: 20px;            /* 和普通文本一样大 */
    background-color: #4693ac;
    color: #fff;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #1b576b;
}
